.specificItemView {
  display: flex;
  flex-direction: row;
  gap: 20px;
  height: 375px;
  padding: 4rem;
  border-radius: 4px;
  transition: all 0.3s ease-out;

}

.itemDetails {
}
.itemDetails h3{
    font-size: 40px;
    vertical-align: top;
}

.itemMenu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cartButtons {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.specificItemView img {
    height: 375px;
    object-fit: cover;
    border: 1px solid #f5f5f5;
    max-width: 450px;
}

.reviewsSection {
    padding: 0px;
    margin: 0px 10px;
}

.overallRating {
    max-width: 420px;
    min-width: 240px;
    min-height: 100px;
}

.ratingBody {
    margin: 0px 5px 25px;
    padding: 0px 5px 5px;
}

.ratingHeaderBody {
    margin: 0px 5px 5px;
    padding: 0px 5px 5px;
}

.overallRating h3 {
    padding: 10px;
    margin: 0px;
    border-width: 0px;
    border-style: none;
    border-color: transparent;
    border-radius: 0px;
    background: rgb(255, 255, 255);
    font-size: 15px;
    font-family: "Trade Gothic Regular", sans-serif;
    color: rgb(37, 55, 70);
    line-height: 28px;
    font-weight: bold;
    font-style: normal;
    text-transform: none;
    text-decoration: none;
}

.ratingsValues {
    margin-top: 5px;
    display: flex;
}

.ratingsValues strong{
    font-size: 45px;
    min-width: 60px;
    padding: 5px 5px 5px 0px;
    color: rgb(55, 78, 98);
}

.ratingsDetails {
    color: rgb(55, 78, 98);
    font-size: 15px;
    padding: 5px 5px 5px 0px;
    margin-top: 5px;
}

.profileName {
    font-size: 13px;
    line-height: 19px;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 4px;
}

.reviewed {
    color: #565959;
    margin-bottom: 4px;
    font-size: 14px;
}

.reviewMessage {
    font-size: 14px;
    max-width: 700px;
}

.reviewForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    gap: 10px;
    /* padding: 20px; */
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    background-color: #fff;
}
.reviewForm strong {
    font-size: 20px;
}

.reviewsContainer {
    margin-bottom: 24px;
}
