.specificItemView {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  height: 100%;
  padding: 4rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    transition: all 0.3s ease-out;
    max-width: 500px;

}

.specificItemView img {
    width: 50%
}