.specificItemView {
  display: flex;
  flex-direction: row;
  gap: 20px;
  height: 375px;
  padding: 4rem;
  border-radius: 4px;
  transition: all 0.3s ease-out;

}

.itemDetails {
    line-height: 15px;
}
.itemDetails h3{
    font-size: 40px;
    vertical-align: top;
}

.itemMenu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cartButtons {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.specificItemView img {
    height: 375px;
    object-fit: cover;
    border: 1px solid #f5f5f5;
    max-width: 450px;
}