.itemElement {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 320px;
    padding: 30px 8px 10px 8px;
    height: 100%;
    border: 1px solid #f5f5f5;
    border-radius: 4px;
    transition: all 0.3s ease-out;
    cursor: pointer;

}

.description {
    width: 90%; 
    height: 42px; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap;
}

.itemList {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(320px,auto));
    grid-gap: 3rem;
    padding: 2rem;
}

.itemList img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

