.storeHeader {
    background-color: #131921;
    border-bottom: 1px solid #eaeaea;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    position: sticky;
    top: 0;
    z-index: 1;
}

.storeHeader h1 {
    color: white
}

.userDisplay {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cartCount {
    font-size: 0.8rem;
    font-weight: 600;
    padding: 0.2rem 0.5rem;
}

.drawerHeader {
  display: flex;
  align-items: center;
  padding-right: 8px;
  padding-left: 20px;
  min-height: 64px;
  justify-content: space-between;
}

.drawerHeader strong {
    font-size: large;
}

.subHeader {
    background-color: #232f3e;
    border-bottom: 1px solid #eaeaea;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    /* position: sticky; */
    top: 0;
    min-height: 42px;
    /* z-index: 1; */
}

.subHeader svg{
    color: white;
    /* z-index: 1; */
}

.newItem {
    display: flex;
    justify-content: center;
}
