a:link {
  color: black;
  text-decoration: none;
}

a:visited  {
  color: black;
}

/* a:hover {
  color: teal;
} */

* {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  src: local('Roboto'), url(http://snazzy.lassetter.net/static/Roboto-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto-Bold';
  font-style: normal;
  src: local('Roboto-Bold'), url(http://snazzy.lassetter.net/static/Roboto-Bold.ttf) format('truetype');
}

strong {
  font-family: Roboto-Bold, Roboto, Arial, Helvetica, sans-serif;

}